html,
body {
  margin: 0;
  padding: 0;
}

.body {

  /*導覽按鈕*/
  .Navigation_bar {
    width: 100%;
    background-color: #66b3ff;

    .logo {
      color: white;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }


    .home_button:hover {
      background-color: #000000;
      color: #ffffff;
      text-decoration: none;
    }




    .menu {
      display: flex;
      justify-content: space-around;
      align-items: center;


      .menu_button {
        font-size: 16pt;
        width: 150px;
        height: 40px;
        display: block;
        text-align: center;
        cursor: pointer;
        line-height: 40px;
        color: #fff;
        background-color: #66b3ff;
        border: 1px solid #66b3ff;
        transition: all .3s linear;
        text-decoration: none;
      }

      .menu_button:hover {
        background-color: #fff;
        color: #000;
        text-decoration: none;
      }

    }
  }
  /* Dropdown Styles */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

	
	
  /*首頁*/
  .page.index {
    padding-top: 10px;
    padding-bottom: 20px;

    /* 轮播容器样式 */
    .slideshow-container {
      position: relative;
      max-width: 70%;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    /* 图片样式 */
    .mySlides img {

      max-height: 600px;



    }

    /* 左右切换按钮样式 */
    .prev,
    .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      padding: 16px;
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 20px;
      transition: background-color 0.3s;
    }

    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    .prev {
      left: 0;
    }

    .next {
      right: 0;
    }

    /* 圆点样式 */
    .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
    }

    /* 当前活动图片圆点样式 */
    .dot.active {
      background-color: #717171;
    }

    /* 文本居中 */
    .text-align:center {
      text-align: center;
    }


  }

  /*簡介*/
  .page.Introduction {
    display: none;

    .bulletin_board_wrapper {
      display: flex;
      justify-content: center;
      padding-top: 10px;

      .bulletin_board {

        background-color: white;
        /*background-image: url('../images/overlay.png');*/
        width: 60%;
        display: flex;
        justify-content: center;

        .bulletin_board_text {
          font-weight: bold;
          padding-left: 30px;
          padding-right: 30px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

 /*video*/
  .page.Video {
    display: none;
}

  
  /*指導教授*/
  .page.Advisor {
    display: none;
  }

  /*成員*/
  .page.Member {
    display: none;
  }

  /*發表*/
  .page.Publications {
    display: none;
  }

  /*近期研究*/
  .page.Research {
    display: none;
  }

  /*水平分割線*/
  .featurette_divider_wrapper {
    display: flex;
    justify-content: center;

    .featurette_divider {

      width: 80%;
    }
  }

  /*使用規則*/
  .page.Rule {
    display: none;

    .bulletin_board_wrapper {
      display: flex;
      justify-content: center;
      padding-top: 10px;

      .bulletin_board {
        background-color:white;
        background-image: url('../images/overlay.png');
        width: 60%;
        display: flex;
        justify-content: center;

        .bulletin_board_text {
          font-weight: bold;
          padding-left: 30px;
          padding-right: 30px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .page.Map {
    display: none;
  }

  /*footer*/
  .footer {
    display: flex;
    justify-content: center;

    .footer_text {
      display: flex;
      flex-direction: column;

      .line {
        display: flex;

        .footer_button {
          display: block;
          text-align: center;
          cursor: pointer;
          color: #000;
          background-color: rgba(255, 0, 0, 0);
          border: 0px;
          transition: all .3s linear;
          text-decoration: none;
          padding: 0;
          font-size: 16px;
        }
      }
    }

    .whatday {
      color: rgb(0, 0, 0);
    }
  }
}